$errorColor: #F03752;
$lightBlack: #455259;
$origin: #d19a23;

//银白
$yinbai: #f1f0ed;
//青灰
$qinghui: #2b333e;
//鱼尾灰
$yuweihui: #5e616d;
//鸽蓝
$gelan: #1c2938;


//靛青
$DIANQING: #1661AB;
//晴蓝
$QINGLAN: #5698C3;
//深灰蓝
$SHENHUILAN: #132C33;
//苍蓝
$CANGLAN: #134857;
//海青
$HAIQING: #22A2C3;
//蔚蓝
$WEILAN: #29B7CB;


//蓝绿
$LANLV: #12A182;
//海王绿
$HAIWANGLV: #248067;
//宫殿绿
$GONGDIANLV: #20894D;

//枯绿
$kulv: #B78D12;
//琥珀黄
$HUPOHUANG: #FEBA07;
//龟背黄
$GUIBEIHUANG: #826B48;
//茶褐
$CHAHE: #5D3D21;


//雁灰
$YANHUI: #80766e;



//金莲花橙
$JINLIANHUACHENG: #f86b1d;
//银朱
$YINZHU: #f43e06;
//苋菜红
$XIANCAIHONG: #a61b29;